.header {
    display: flex;
    height: 4rem;
    padding: 0.5em 1em;
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgray ;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 5em;

}
.title{
    margin-left: 0.1em;
}

.input {
    flex-basis: 100%;
    font-size: 1rem;
    outline: 0;
    border: lightgray solid 1px;
}

.button {
    background-color: #eeeeee;
    outline: 0;
    border: lightgray solid 1px;
}

.btnimg{
    height: 100%;
    padding: 0.4em 0.3em;
}

.twobtn{
    display: flex;
    justify-content: flex-end;
}

.headerbtn{
    border: none;
    margin-left: 3em;
    background-color: white;
}

.icon{
    font-size: 1.2rem;
}

.gitimg{
    height: 100%;
    border-radius: 50%;
}