.sidebtn{
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: space-between;
    background-color: white;
    margin-right: 24px;
}

.button:hover {
    background-color: lightgray;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: none;
}

.icon{
    margin: 0.8em;
    font-size: 1.2rem;
}

.ment {
    font-size: 0.8rem;
}